---
import "@styles/components/k-form.scss";
import type { DropdownItemPrototype } from "@components/k-dropdown.astro";
import KDropdown from "@components/k-dropdown.astro";
import KSwitch from "@components/k-switch.astro";

interface Props {
    slug: string;
    desc: string;
    detail?: string;
    type: "input" | "textarea" | "k-dropdown" | "k-switch";
    DropdownDefault?: DropdownItemPrototype;
    DropdownItems?: DropdownItemPrototype[];
    SwitchDefault?: boolean;
}

const { 
    slug, 
    desc, 
    detail = "<暂未设定 detail 属性>", 
    type, 
    DropdownDefault, 
    DropdownItems, 
    SwitchDefault = false 
} = Astro.props;
---

<k-form id={slug} data-type={type}>

    <label>{desc}</label>

    { type === "input" && (
        <input placeholder={detail} />
    ) }

    { type === "textarea" && (
        <textarea placeholder={detail} />
    ) }

    { type === "k-dropdown" && (
        <KDropdown 
            Default={DropdownDefault} 
            Items={DropdownItems}
        />
    ) }

    { type === "k-switch" && (
        <KSwitch
            checked={SwitchDefault}
        />
    ) }
    
</k-form>

<script src="@scripts/components/k-form"></script>
<!-- 
<style lang="scss">
    k-form {
        margin: 12px 0;
    }
</style> -->
